<!-- banner -->
<div class="banner">
	<div class="container">
		<div class="header">
			<div class="logo">
				<h1><a href="#">Metro Ui</a></h1>
			</div>
			<div class="navigation">
				<span class="menu"><img src="images/icon.png" alt="" /></span>
				<ul class="nav1">
					<li><a class="scroll" href="#home">HOME</a></li>
					<li><a class="scroll" href="#about-us">ABOUT US</a></li>
					<li><a class="scroll" href="#portfolio">PORTFOLIO</a></li>
					<li><a class="scroll" href="#services">SERVICES</a></li>
					<li><a class="scroll" href="#contact-us">CONTACT US</a></li>
				</ul>
				<!-- script for menu -->
				<script> 
					$( "span.menu" ).click(function() {
					$( "ul.nav1" ).slideToggle( 300, function() {
					 // Animation complete.
					});
					});
				</script>
				<!-- //script for menu -->
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="banner-info">
			<h1>THE ULTIMATE COLLECTION OF FREE PSD TEMPLATES!!</h1>
			<div class="download"><a href="#">DOWNLOAD</a></div>
		</div>
	</div>
</div>
<!-- //banner -->