<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
{% include 'volton/include/head.html' %}
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


{% include 'volton/include/sidebar.html' %}
{% include 'volton/include/banner.html' %}


<!-- MAIN CONTENT -->
<div class="main-content">
    <div class="fluid-container">

        <div class="content-wrapper">
            {% for post in posts %}
            <div class="page-section">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="widget-title">{{post.title}}</h4>
                        <br>
                        <div class="about-image">
                            <img src="{{post.thumb}}" alt="post.title">
                        </div>
                        <p>{{post.summary}}</p>
                        <hr>
                    </div>
                </div>
                <!-- #article template -->

                {% endfor %}
            </div>

            {% include 'volton/include/footer.html' %}
        </div>

    </div>


</div>


<script src="static/volton/js/vendor/jquery-1.10.2.min.js"></script>
<script src="static/volton/js/min/plugins.min.js"></script>
<script src="static/volton/js/min/main.min.js"></script>

</body>
</html>