<div class="page-section" id="about">
    <div class="row">
        <div class="col-md-12">
            <h2 class="widget-title">关于毛线球儿</h2>

            <div class="about-image">
                <img src="/static/volton/img/scooter.png" alt="about me">
            </div>
            <p><span class="green">毛线球儿</span>，由旅澳华人发起的亲子露营小站，记录在澳亲子露营途中的点点滴滴。希望可以为大家提供另外一种亲子旅游的视角和方案，帮助孩子认识更加丰富立体的世界。</p>

<br>
            <h2>毛线球儿要干些什么？</h2>

       <p> 露营，童真的天然氧吧，许孩子一个可以呼吸的童年：密林寻踪，登高远眺，弄潮踏浪，海滩拾贝；既有踏破青山，风景这边独好，又有惊涛骇浪，奏出磅礴乐章，璀璨星河，空蒙山色，头枕着潺潺的溪水声入睡，耳伴着虫鸣鸟叫声苏醒……

        露营，锻炼孩子的生存能力，还原本真的生活情趣。
</p>


   <br>
   
            <br>
                <h2>为什么叫毛线球儿？</h2>
            <br>
<span class="green">毛线球儿</span>，谐音<span class="blue">”冒险去喽“</span>。
<p>我们这代人小时候大都有过帮妈妈缠毛线球的经历。我记得那时候家里养了一只小猫咪，淘气的它总是喜欢抱着缠好的毛线球玩，毛线球就在它的挑逗下越滚越远，它就跟着毛线球越跑越远……
在我的记忆力，这些瞬间都是灵动、温暖、充满了生活情趣。
毛线球，可以越滚越远，让你追随者它的轨迹去探险未知的远方，但是始终有一条线牵在妈妈的手里，确保安全。这不就是亲子关系吗，充分的自由，适度的保护。对线的松紧的拿捏是一门艺术，亲子关系的处理也是一门艺术。
而且毛线球儿，谐音“冒险去喽”，既有探索又有安全，作为亲子露营网站的名字和slogan再恰当不过了。
那么现在，让我们<span calss="green">跟着毛线球儿，冒险去喽</span>！
</p>

<br>
            <h2><span class="green">关于版权</span></h2>

       <p> <span class="green">本站所有图片和内容皆为原创。欢迎分享和转载（请注明出处）。谢绝恶意转载和剽窃。大家的支持才是小站持续创作的动力。</span></p>
            <hr>
        </div>
    </div>
    <!-- #about -->
</div>