<div class="page-section" id="projects">
    <div class="row">
        <div class="col-md-12">
            <h4 class="widget-title">文章分类</h4>

            <p>
                亲爱的，你想从哪里开始你的亲子露营之旅呢？不管从哪里开始，切记“不要烧装备，不要烧装备，不要烧装备”！重要事情说三遍！只要多露营几次，就知道自己想要的是什么，没有最好，只有最合适。<span
                    class="green">轻装上阵，才能走的更远</span>。朋友们，我们路上见！</p>
        </div>
    </div>
    <div class="row projects-holder">
        {% for category in categories %}
        <div class="col-md-4 col-sm-6">
            <div class="project-item">
                <img src="{{category.thumb}}" alt="">
                <div class="project-hover">
                    <div class="inside">
                        <h5><a href="/category/{{category.shortUrl}}">{{category.title}}</a></h5>

                        <p>{{category.summary}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}    
    </div>
</div>