<div class="page-section" id="projects">
    <div class="row">
        <div class="col-md-12">
            <h4 class="widget-title">站内干货</h4>

            <p>亲爱的，你想从哪里开始你的亲子露营之旅呢？不管从哪里开始，我的忠告都是：不要烧装备，不要烧装备，不要烧装备！跟所有的选择一样，露营的装备也没有最好只有最适合。只有多露营几次，才知道自己想要的是什么。千万不要还没出门就采购一堆带上嫌烦弃之可惜的鸡肋。<span class="green">轻装上阵，才能走的更远</span>。朋友们，我们路上见！</p>
        </div>
    </div>
    <div class="row projects-holder">
        <div class="col-md-4 col-sm-6">
            <div class="project-item">
                <img src="/static/volton/img/gear.png" alt="">

                <div class="project-hover">
                    <div class="inside">
                        <h5><a href="#">露营装备</a></h5>

                        <p>装备是个坑，入门请谨慎</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="project-item">
                <img src="/static/volton/img/bushcamp.png" alt="">

                <div class="project-hover">
                    <div class="inside">
                        <h5><a href="#">原创营记</a></h5>

                        <p>全部营记为站长原创，欢迎带链接转载，拒绝恶意抄袭</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="project-item">
                <img src="/static/volton/img/bridge.png" alt="">

                <div class="project-hover">
                    <div class="inside">
                        <h5><a href="#">露营情报</a></h5>

                        <p>收集情报信息，规划露营线路。露营，在路上。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="project-item">
                <img src="/static/volton/img/beautyshell.png" alt="">

                <div class="project-hover">
                    <div class="inside">
                        <h5><a href="#">随营杂想</a></h5>

                        <p>胡思乱想与偶得</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="project-item">
                <img src="/static/volton/img/lighthouse.png" alt="">

                <div class="project-hover">
                    <div class="inside">
                        <h5><a href="#">地域营记</a></h5>

                        <p>按地域分类的营地和情报</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="project-item">
                <img src="/static/volton/img/sunrise.png" alt="">

                <div class="project-hover">
                    <div class="inside">
                        <h5><a href="#">类别营记</a></h5>

                        <p>你是更喜欢bushcamp还是beachcamp呢？</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>