<!DOCTYPE html>
<!-- SIDEBAR -->
        <div class="sidebar-menu hidden-xs hidden-sm">
            <div class="top-section">
                <div class="profile-image">
                    <img src="/static/volton/img/profile.jpg" alt="Volton">
                </div>
                <h3 class="profile-title">Hannah</h3>
                <p class="profile-description">“毛线球儿”亲子露营小站站长</p>
            </div> <!-- top-section -->
            <div class="main-navigation">
                <ul class="navigation">
                    <li><a href="#top"><i class="fa fa-globe"></i>小站首页</a></li>
                    <li><a href="#about"><i class="fa fa-pencil"></i>站内干货</a></li>
                    <li><a href="#projects"><i class="fa fa-paperclip"></i>关于毛线球儿</a></li>
                    <li><a href="#contact"><i class="fa fa-link"></i>联系我们</a></li>
                </ul>
            </div> <!-- .main-navigation -->
            <div class="social-icons">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div> <!-- .social-icons -->
        </div> <!-- .sidebar-menu -->