<!DOCTYPE html>
<!-- SIDEBAR -->
        <div class="sidebar-menu hidden-xs hidden-sm">
            <div class="top-section">
                <div class="profile-image">
                    <img src="/static/volton/img/hannah.png" alt="Volton">
                </div>
                <h3 class="profile-title">Hannah</h3>
                <p class="profile-description">“毛线球儿”亲子露营小站站长</p>
                <p class="profile-description">做自己喜欢做的事情，并把它做到最好。</p>
                <p class="profile-description">联系邮箱：littleexplorer2017@gmail.com</p>
            </div> <!-- top-section -->
            <div class="top-section">
                <div class="profile-image">
                    <img src="/static/volton/img/Nicholas5.jpg" alt="Volton">
                </div>
                <h3 class="profile-title">尼克老师</h3>
                <p class="profile-description">“毛线球儿”亲子露营小站联合创始人</p>
                <p class="profile-description">2岁10个月</p>

            </div> <!-- top-section -->
            <div class="main-navigation">
                <ul class="navigation">
                    <li><a href="/"><i class="fa fa-globe"></i>小站首页</a></li>
                    <li><a href="/categories"><i class="fa fa-pencil"></i>文章分类</a></li>
                    <li><a href="/articles"><i class="fa fa-paperclip"></i>所有文章</a></li>
                    <li><a href="/article/who-is-little-explorer"><i class="fa fa-link"></i>关于毛线球儿</a></li>
                </ul>
            </div> <!-- .main-navigation -->
            <div class="social-icons">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div> <!-- .social-icons -->
        </div> <!-- .sidebar-menu -->